@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'); 

/* Navbar container */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* Adjust page content to not go under the navbar */
body {
  padding-top: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* Menu items */
.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Profile and dropdown container */
.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Profile icon */
.navbar-profile-icon {
  color: #fff;
  font-size: 24px;
}

/* Dropdown icon */
.navbar-expand-icon {
  color: #fff;
  font-size: 24px;
}

/* Dropdown menu */
.navbar-dropdown {
  position: absolute;
<<<<<<< Updated upstream
  top: 75.5px;
=======
  top: 76px;
>>>>>>> Stashed changes
  right: 0;
  background-color: #000000;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* Dropdown items */
.navbar-dropdown-item {
  margin: 5px 0;
}

/* Dropdown links */
.navbar-dropdown-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  
  display: block;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* Underline effect */
.navbar-dropdown-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35%;
  height: 2px;
  background-color: #27ff52;

  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

/* Underline on hover */
.navbar-dropdown-link:hover::after {
  transform: translateX(0);
}

/* Optionally, change link color on hover */
.navbar-dropdown-link:hover {
  
  color: #ffffff;
}
