/* Navbar container */
.navbar {
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  gap: 25rem;
  align-items: center;
}

/* Logo */
.logo a {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-links a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin: 0 20px;
  position: relative;
  padding-bottom: 5px;
}

.navbar-links a:hover {
  color: #e67e22;
}

.navbar-links a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #e67e22;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

/* Right section: Login */
.login-section a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.login-section a:hover {
  color: #e67e22;
}

.login-icon {
  margin-left: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .logo {
    flex: 1;
  }
}
