body {
  margin: 0;
  padding: 0;
  
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* This ensures the background stays fixed while scrolling */
  font-family: sans-serif;
   
}
  
  .registerbox {
    width: 420px;
    height: auto;
    background: white;
    color: black;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 50px;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 5px -3px;
  }
  
  .registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .registerbox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .registerbox input[type="text"],
  .registerbox input[type="number"],
  .registerbox input[type="email"],
  .registerbox input[type="password"] {
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid #353434;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  
  .registerbox input[type="submit"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;
    height: 40px;
    background: rgb(55, 167, 55);
    color: #353434;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    cursor: pointer;
  }
  